body { background: black; }

div#board { 
	position: relative;
	width: 1024px; 
	height: 840px; 
	margin: auto;
	background: url("images/board.jpg") no-repeat;
	}

div#messageArea {
	position: absolute;
	top: 20px;
	left: 0px;
	color: rgb(83, 175, 19);
	font-weight: normal;
	font-size: 1.5em;
	}

table {
	position: absolute;
	top: 98px;
	left: 173px;
	color: white;
	border-spacing: 0px;
	}

td { width: 94px; height: 94px; } 

form {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: rgb(83, 175, 19);
	}
	
form input {
	background-color: rgb(152, 207, 113); 
	border-color: rgb(83, 175, 19); 
	font-size: 1em;
	text-transform: uppercase;
	}
	
	
	
.hit { background: url("images/ship.png") no-repeat center center; }
.miss { background: url("images/miss.png") no-repeat center center; }